# Node modules
node_modules/

# Build output
packages/*/lib/
packages/*/dist/
docs/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.turbo

# Env files
.env
.env.*

# TypeScript cache
*.tsbuildinfo

# VSCode settings
.vscode/

# Test output
coverage/
*.log